<div class="container-fluid  bg-basegris contenedor-gen">
    <div class="row  h-100 d-flex align-items-center justify-content-center ">
        <div class="col-12 col-md-7 col-xl-7 col-lg-7 bg-white">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-7 col-lg-7 d-flex align-items-center">
                    <img class="img-fluid" src="/assets/img/logo-naucaplan_admyo.jpg" alt="">

                </div>
                <div class="col-12 col-md-5 col-xl-5 col-lg-5  card-login">
                    <div class="row">
                        <div class="col-12 text-monse text-muted m-t-40">
                            <h5>Recuperación de Contraseña</h5>
                        </div> 
                        <div class="col-12 text-monse text-muted m-t-20 text-justify">
                            ¿Olvidó la contraseña de su cuenta o tiene problemas para iniciar sesión en su equipo? Ingrese su dirección de correo
                            electrónico y le enviaremos un enlace de recuperación.</div>
                        <mat-form-field class="col-12 m-t-30">
                            <input class="text-blackk" [(ngModel)]="modelo_login.correo" matInput
                                placeholder="Correo Electrónico" value="">
                        </mat-form-field>
                        
                       
                        <button  class="btn btn-vino text-white col-6 m-t-30  m-b-30  centrar">Iniciar
                            Sesión</button>
                       
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>