<div class="container m-t-60 text-monse">
    <form class="row" [formGroup]="formGroup" (ngSubmit)="OnsaveForm()">
        <div class="col-12 m-b-40">
            <h2>Formulario de datos de Médicos</h2>
        </div>
        <div class="col-4 text-center">
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + imglogo + ')'}"  class="avatar">

            </div>
            <button type="button" (click)="logo.click()" class="btn btn-primary m-t-30">Seleccionar Foto</button>
            <input (change)="preview(logo.files)" class="d-none" accept="image/gif, image/jpeg, image/png" type="file" #logo>
           
        </div>
        <div class="col-8" >
            <div class="row">
                <mat-form-field class="col-4">
                    <input matInput  formControlName="Nombre" placeholder="Nombre(S) *">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput  formControlName="ApellidoPaterno"  placeholder="Apellido Paterno *">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="ApellidoMaterno"  placeholder="Apellido Materno *">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input (dateInput)="first($event.value.format('DD'),$event.value.format('MM'),$event.value.format('YYYY'))" matInput autocomplete="off"  formControlName="FechaNacimiento"
                        [matDatepicker]="dp" disabled="disabled" placeholder="Fecha de Nacimiento *">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-2">
                    <input matInput   formControlName="Edad" placeholder="Edad">
                </mat-form-field>
                <mat-form-field  class="col-6">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="Sexo"> 
                        <mat-option value="Femenino">
                           Femenino
                        </mat-option>
                        <mat-option value="Masculino">
                            Masculino
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Curp"  placeholder="Curp">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="RFC"  placeholder="RFC">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Telefono" prefix="+52" mask="(000) 000 00 00" placeholder="Teléfono Fijo">
                </mat-form-field>
                <mat-form-field class="col-6"> 
                    <input matInput formControlName="Movil" prefix="+52"  mask="(000) 000 00 00" placeholder="Teléfono Móvil">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Email"  placeholder="Email">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <mat-label>Unidad Medica</mat-label>
                    <mat-select formControlName="Unidad_Medica" >
                        <mat-option value="u-1">
                            Unidad 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-3">
                    <input matInput formControlName="Especialidad" placeholder="Especialidad Médica">
                </mat-form-field>
                <mat-form-field class="col-3">
                    <input matInput  formControlName="Cedula" placeholder="Cédula Profecional">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Institucion_Cedula"  placeholder="Institución que otorgó cédula">
                </mat-form-field>
            </div>

        </div>

        <div class="col-12 m-t-30">
            <div class="row">
                <div class="col-10">
                    <h3>Información consulta</h3>
                </div>
                <div class="col-2 text-right">
                    <a (click)="modal_horarios=!modal_horarios" mat-mini-fab class="bg-succes">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>
                <div class="col-12">
                    <mat-chip-list>
                        <mat-chip (click)="delete_dia_consulta(i)" *ngFor="let dia of list_dia_consulta; let i = index">{{dia.label}} <mat-icon>clear</mat-icon></mat-chip>
                        
                    </mat-chip-list>
                </div>
                
            </div>
        </div> 
        <div class="col-12 m-t-60">
            <div class="row">
                <div class="col-10">
                    <h3>Especialidades</h3>
                </div> 
                <div class="col-2 text-right">
                    <a (click)="modal_especialidad=!modal_especialidad" mat-mini-fab class="bg-succes"><mat-icon>add</mat-icon></a>
                </div>
                <div class="col-12">
                    <mat-chip-list>
                        <mat-chip (click)="deleteespecial(i)" *ngFor="let especialidad of list_especialidades; let i = index;" >{{especialidad.Especialidad}} <mat-icon>clear</mat-icon>
                        </mat-chip>
                        
                    </mat-chip-list>
                </div>
                
            </div>
        </div>
        <div class="col-12 m-t-60">
            <div class="row">
                <div class="col-10">
                    <h3>Guardias</h3>
                </div>
                <div class="col-2 text-right">
                    <a mat-mini-fab class="bg-succes">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>
                
        
            </div>
        </div>
        <div class="col-12 text-right m-t-30 m-b-30">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger mr-3">Cancelar</button>

                <button type="submit" class="btn btn-succes">Guardar Datos</button>
            </div>
        </div>
    </form>
</div>
<div class="preload-modal" *ngIf="modal_especialidad">
    <div class="container">
        <div class="row">
                <mat-card class="col-6 m-auto">
                    <mat-card-header>    
                        <mat-card-title>Agregar Especialidad</mat-card-title>
                        <button (click)="modal_especialidad=!modal_especialidad"  class="btn-close-modal" mat-icon-button aria-label="Example icon-button with a menu">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-card-header>
                
                <mat-card-content>
                    <div class="container">
                        <div class="row">
                            <mat-form-field class="col-6">
                                <input [(ngModel)]="input_specialidad.Especialidad" matInput placeholder="Especialidad" value="">
                            </mat-form-field>
                            <mat-form-field class="col-6">
                                <input [(ngModel)]="input_specialidad.Cedula" matInput placeholder="Cedula" value="">
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input [(ngModel)]="input_specialidad.Institucion" matInput placeholder="Institución que otorga cédula" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    

                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-end">
                    <button  (click)="modal_especialidad=!modal_especialidad"class="btn btn-outline-danger mr-3">Cerrar</button>
                    <button (click)="onsaveespcialidad()" class="btn btn-succes">Guardar</button>
                </mat-card-actions>
        </mat-card>
        </div>
    </div>
</div>
<div class="preload-modal"  *ngIf="modal_horarios">
    <div class="container">
        <div class="row">
            <mat-card class="col-6 m-auto">
                <mat-card-header>
                    <mat-card-title>Horario de Consultas</mat-card-title>
                    <button (click)="modal_horarios=!modal_horarios" class="btn-close-modal" mat-icon-button aria-label="Example icon-button with a menu">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-card-header>
                    <mat-checkbox value="i" (change)="onsavediaconsulta($event,i)" *ngFor="let interest of interests; let i = index" class="ml-3">{{interest}}</mat-checkbox>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <mat-form-field class="col-6">
                                <mat-label>Hora Inicial</mat-label>
                                <mat-select [(ngModel)]="input_hora_inicio_consulta">
                                    <mat-option *ngFor="let hora of horas" [value]="hora">
                                        {{hora}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-6">
                                <mat-label>Hora Final</mat-label>
                                <mat-select [(ngModel)]="input_hora_fin_consulta">
                                    <mat-option *ngFor="let hora of horas" [value]="hora">
                                        {{hora}}
                                    </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    
                <mat-card-content>
                    

                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-end">
                    <button (click)="onclear_especialidad()" class="btn btn-outline-danger mr-3">Limpiar</button>
                    <button (click)="onsavediaconsultalista()" class="btn btn-succes">Guardar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>