
<div class="container m-t-60 text-monse">
    <div class="row">
        <div class="col-12 m-b-40">
             <h2>Pacientes</h2>
        </div>
        <mat-form-field class="col-3">
            <mat-label>Unidad Médica</mat-label>
            <mat-select>
                <mat-option >
                    Selecciona
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-7">
            <input matInput placeholder="Buscar Paciente por Nombre, Apellido, CURP o Número de Expediente" value="">
        </mat-form-field>
        <div class="col-2 text-right">
            <button (click)="ir_list('addpaciente')" type="button" class="btn btn-primary">Añadir Paciente</button>
        </div>
    </div>
    <!--Inicio de secccion de card-->
    <div class="row m-t-30">
        <div class="col-4 m-t-30 " *ngFor="let paciente of lista_pacientes | paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
            <mat-card [ngClass]="{'bg-gary-lte': paciente.Status==='0'}">
                <mat-card-header>
                    <div mat-card-avatar [ngStyle]="{'background-image': mod_img(paciente.Foto) }" class="header-image"></div>
                    <mat-card-title class="text-blackk">{{paciente.Nombre}} {{paciente.Apellido_Pat}} {{paciente.Apellido_Mat}} </mat-card-title>
                    
                    <p mat-line>
                        <button class="text-blackk btn-menu-card" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                           
                            <button mat-menu-item >
                                <mat-icon>refresh</mat-icon>
                                <span>Cambio de unidad medica</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>note_add</mat-icon>
                                <span>Consulta Rapida</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>queue</mat-icon>
                                <span>Agendar Consulta</span>
                            </button>
                            
                            <button (click)="updatestatus(paciente.Status,paciente.IDPaciente)" mat-menu-item>
                                <mat-icon>power_settings_new</mat-icon>
                                <span>{{(paciente.Status==='1')?'Baja':'Activar'}}</span>
                            </button>
                        </mat-menu>
                    </p>
                </mat-card-header>
                <mat-card-content>
                <mat-grid-list cols="5" class="w-100 text-muted">
                    <mat-grid-tile class="text-left " [colspan]="2" [rowspan]="1">
                        <small class="d-block w-100">Edad / Sexo</small>
                    </mat-grid-tile>
                    <mat-grid-tile class="text-right" [colspan]="3" [rowspan]="1">
                    {{paciente.Edad}} años / {{paciente.Sexo}}
                    </mat-grid-tile>
                    <mat-grid-tile class="text-left" [colspan]="2" [rowspan]="1">
                        <small class="d-block w-100">Celular</small>
                    </mat-grid-tile>
                    <mat-grid-tile class="text-right" [colspan]="3" [rowspan]="1">
                        {{paciente.Movil}}
                    </mat-grid-tile>
                    <mat-grid-tile class="text-left" [colspan]="2" [rowspan]="1">
                        <small class="d-block w-100">Fecha ultima consulta</small>
                    </mat-grid-tile>
                    <mat-grid-tile class="text-right" [colspan]="3" [rowspan]="1">
                       
                    </mat-grid-tile>
                    <mat-grid-tile class="text-left" [colspan]="2" [rowspan]="1">
                        <small class="d-block w-100">Deudor</small>
                    </mat-grid-tile>
                    <mat-grid-tile class="text-right" [colspan]="3" [rowspan]="1">
                    
                    </mat-grid-tile>
                    
                </mat-grid-list>
                <div *ngIf="paciente.Discapacitado==='1'" class="bg-secondary d-block text-center">
                    Incapacidad
                </div>
                </mat-card-content>
                <mat-card-footer >
                    <div class="btn-group d-flex" role="group" aria-label="Basic example">
                        <button (click)="updatestatus(paciente.Status,paciente.IDPaciente)" [ngClass]="{'btn-outline-danger': paciente.Status==='1','btn-outline-succes': paciente.Status==='0'}" class="btn  mr-3">{{(paciente.Status==='1')?'Baja':'Activar'}}</button>
                    
                        <button (click)="ir_list('resumenpaciente/'+paciente.IDPaciente)"  class="btn btn-succes">Resumen</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 text-center m-t-40">
            <pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
    <!--fin de secccion de card-->
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>