.header-image{
    
    width:40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
.mat-card-title{
    font-size: 1rem;
}
.mat-grid-tile .mat-figure {
    justify-content: end !important;
}