<div class="container m-t-60 text-monse">
    <form class="row" [formGroup]="formGroup" (ngSubmit)="OnsaveForm()">
        <div class="col-12 m-b-40">
            <h2>Formulario de datos de Pacientes</h2>
        </div>
        <div class="col-4 text-center">
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + imglogo + ')'}" class="avatar">

            </div>
            <button type="button" (click)="logo.click()" class="btn btn-primary m-t-30 mr-3">Modificar Foto</button>
            <input (change)="preview(logo.files)" class="d-none" accept="image/gif, image/jpeg, image/png" type="file"
                #logo>
            <button  class="btn btn-primary m-t-30 ">Generar QR</button>
        </div>
        <div class="col-8">
            <div class="row">
                <mat-form-field class="col-4">
                    <input formControlName="Nombre" matInput autocomplete="off" placeholder="Nombre(S) *">

                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput autocomplete="off" formControlName="ApellidoPaterno"
                        placeholder="Apellido Paterno *">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput autocomplete="off" formControlName="ApellidoMaterno"
                        placeholder="Apellido Materno *">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput autocomplete="off" (dateChange)="addEvent('change', $event)"
                        formControlName="FechaNacimiento" [matDatepicker]="dp" disabled="disabled"
                        placeholder="Fecha de Nacimiento *">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-2">
                    <input matInput autocomplete="off" formControlName="Edad"  placeholder="Edad">
                </mat-form-field>
                <mat-form-field class="col-3">
                    <mat-label>Sexo *</mat-label>
                    <mat-select formControlName="Sexo">
                        <mat-option value="Femenino">
                            Femenino
                        </mat-option>
                        <mat-option value="Masculino">
                            Masculino
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-3">
                    <input matInput autocomplete="off" formControlName="Grupo_Sanguineo" placeholder="Grupo Sanguineo">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Religion" placeholder="Religion">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Ocupacion" placeholder="Ocupacion">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Curp" placeholder="Curp">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Email" placeholder="Email">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Telefono" prefix="+52" mask="(000) 000 00 00"
                        placeholder="Teléfono Fijo">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput autocomplete="off" formControlName="Movil" prefix="+52" mask="(000) 000 00 00"
                        placeholder="Teléfono Móvil *">
                </mat-form-field>
            </div>

        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3>Información demografica</h3>
                </div>
                <mat-form-field class="col-12">
                    <input autocomplete="off" formControlName="Calle" matInput placeholder="Calle, Número int y Ext ">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Colonia" matInput placeholder="Colonia">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Municipio" matInput placeholder="Municipio">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Estado" matInput placeholder="Estado">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Codigo_Postal" matInput mask="00000"
                        placeholder="Código Postal">
                </mat-form-field>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3>Persona de Contacto para emergecias</h3>
                </div>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Nombre_Emergecia" matInput placeholder="Nombre(S) *">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Apellidos_Emergecia" matInput placeholder="Apellidos *">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Parentesco_Emergecia" matInput
                        placeholder="Parentesco *">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Email_Emergecia" matInput
                        placeholder="Correo Electrónico">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Telefono_Emergecia" prefix="+52" mask="(000) 000 00 00"
                        matInput placeholder="Télefono Fijo">
                </mat-form-field>

                <mat-form-field class="col-6">
                    <input autocomplete="off" formControlName="Movil_Emergecia" prefix="+52" mask="(000) 000 00 00"
                        matInput placeholder="Télefono Movil *">
                </mat-form-field>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <mat-form-field class="col-12">
                    <input matInput formControlName="ExpedienteAnteriro" placeholder="Número de Expedinte Anterior">
                </mat-form-field>
                <div class="col-12 ">
                    <section class="example-section">
                        <mat-slide-toggle formControlName="Discapacidad" (change)="activar_inputs($event.checked)"
                            class="example-margin" color="primary" checked="checked">
                            Discapacidad
                        </mat-slide-toggle>
                    </section>
                </div>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Causa_Discapacidad" disabled="disabled" placeholder="Causa">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Nombre_Discapacidad"
                        placeholder="Nombre(S) del Responsable legal *">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Apellidos_Discapacidad"
                        placeholder="Apellidos del Responsable legal">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput formControlName="Parentesco_Discapacidad" placeholder="Parentesco">
                </mat-form-field>
            </div>

        </div>

        <div class="col-12 text-right m-t-30 m-b-30">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-succes">Guardar Datos</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>